.file-display-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

.file-display:hover{
  background-color: rgb(224, 224, 224);
  border-radius: 25px;
  margin: unset;
  
}


.file-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;
  transition: all ease-in-out 100ms;
}

.file-icon-img {

  width: 40%;
}

.selected{
  background-color: rgb(72, 72, 255) !important;
  border-radius: 25px;
  margin: 5% ;
}