.toolbar {

  position: absolute; 

  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 8%;
  width: 100%;
  background-color: grey;
}

.toolbar-icon-img {
  height: 70%;
  align-self: center;
}
html{
  margin-top: 5%;
}